[package]
name = "mprocs"
version = "0.6.4"
description = "TUI for running multiple processes"
repository = "https://github.com/pvolok/mprocs"
authors = ["Pavel Volokitin <pavelvolokitin@gmail.com>"]
license = "MIT"
edition = "2021"
categories = [
  "command-line-interface",
  "command-line-utilities",
  "development-tools"
]
keywords = [
  "cli",
  "terminal",
  "tui",
  "utility"
]

include = ["*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "mprocs"
path = "main.rs"

[dependencies]
anyhow = "1.0.70"
assert_matches = "1.5.0"
base64 = "0.13.1"
clap = { version = "3.1.8", features = ["cargo"] }
clipboard-win = "4.5.0"
crossterm = { version = "0.26.1", features = ["event-stream"] }
dunce = "1.0.3"
# Excluded "textfilter" feature that depends on regex (~0.7 MiB).
flexi_logger = { version = "0.25.3", default-features = false, features = [
  "colors",
] }
futures = { version = "0.3.27" }
indexmap = { version = "1.9.3", features = ["serde"] }
lazy_static = "1.4.0"
libc = "0.2.140"
log = "0.4.17"
mlua = { version = "0.8.8", features = ["luajit52", "vendored", "serialize"] }
phf = { version = "0.11.1", features = ["macros"] }
portable-pty = { package = "mprocs-pty", path = "../vendor/pty", version = "0.1.0" }
tui = { package = "ratatui", version = "0.20.1" }
serde = { version = "1.0.136", features = ["derive"] }
serde_yaml = "0.9.19"
tokio = { version = "1", features = ["full"] }
triggered = "0.1.2"
tui-input = "0.7.0"
unicode-segmentation = "1.10.1"
unicode-width = "0.1.10"
vt100 = { package = "mprocs-vt100", path = "../vendor/vt100", version = "0.1.1" }
which = "4.4.0"
xdg = "2.4.1"
termwiz = "0.20.0"
bitflags = { version = "2.3.2", features = ["serde"] }
compact_str = { version = "0.7.1", features = ["serde"] }

[target."cfg(windows)".dependencies]
winapi = { version = "0.3", features = ["consoleapi", "winuser"] }
